@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-confidence {
    background-image: url('../src/assets/images/confidence.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    /* Responsive background size */
    @media (max-width: 768px) {
        background-size: cover;

    }
}

.btn-height{
  min-height: 250px !important;
  height: 250px !important;

}

.carousel-status{
  display: none;
}
@font-face {
    font-family: "light";
    src: url("../src/assets/fonts/fonts/Inter-Light.ttf");
  }
@font-face {
    font-family: "bold";
    src: url("../src/assets/fonts/fonts/InterDisplay-Bold.ttf");
  }
@font-face {
    font-family: "italic";
    src: url("../src/assets/fonts/fonts/Inter-Italic.ttf");
  }


  