@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-confidence {
    background-image: url('../src/assets/images/confidence.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    min-height: 50vh;
    width: 100vw;

    /* Responsive background size */
    @media (max-width: 768px) {
        background-size: cover;
    }
}

@font-face {
    font-family: "light";
    src: url("../src/assets/fonts/fonts/Inter-Light.ttf");
  }
@font-face {
    font-family: "bold";
    src: url("../src/assets/fonts/fonts/InterDisplay-Bold.ttf");
  }
@font-face {
    font-family: "italic";
    src: url("../src/assets/fonts/fonts/Inter-Italic.ttf");
  }


  