@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-confidence {
    background-image: url('../src/assets/images/confidence.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%; 
    background-position: center; 

    /* Responsive background size */
    @media (max-width: 768px) {
      background-size: cover;

    }
}

.btn-height{
  min-height: 250px !important;
  height: 250px !important;

}

.carousel-status{
  display: none;
}
@font-face {
  font-family: "light";
  src: url("../src/assets/fonts/fonts/Inter-Light.ttf") format('ttf');
  font-display: swap;

}
@font-face {
  font-family: "displayBold";
  src: url("../src/assets/fonts/fonts/InterDisplay-Bold.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: "displayBlack";
  src: url("../src/assets/fonts/fonts/InterDisplay-Black.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: "displayRegular";
  src: url("../src/assets/fonts/fonts/InterDisplay-Regular.ttf") format('ttf');
  font-display: swap;
}
@font-face {
  font-family: "extraBold";
  src: url("../src/assets/fonts/fonts/Inter-ExtraBold.ttf") format('ttf');
  font-display: swap;
}

.loading-line {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
  margin: 20px 0;
}
/* styles.css */

.transition-text {
  font-size: 16px;
  transition: color 0.3s ease-in-out; /* Define the transition property */
}

.transition-text.hovered {
  color: #ff5733; /* Change the color on hover */
}
